@{
    ViewData["Title"] = "Home Page";
}
<a asp-controller="Dept" asp-action="SaveData"> Enter new data</a>
<a asp-controller="Dept" asp-action="GetAllData">show all data</a>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
